#datasets

projects\IMDb_Analyst\datasets\title.akas.tsv
projects\IMDb_Analyst\datasets\title.basics.tsv
projects\IMDb_Analyst\datasets\title.epsisode.tsv
projects\IMDb_Analyst\datasets\title.principals.tsv
projects\IMDb_Analyst\datasets\title.ratings.tsv


.vscode/

